<nav>
  <ul style="padding-left: 0px">
    <li><a onclick="windowalert('uwu')" style="color: aliceblue">│ </a></li>
    <li><a href="index.html" style="text-decoration: none">HOME</a></li>
    <li><a href="aboutme.html" style="text-decoration: none">ABOUT</a></li>
    <li><a onclick="windowconfirm('')" style="text-decoration: none">YOUTUBE</a></li>
    <li><a href="contact.html" style="text-decoration: none">CONTACT</a></li>
    <!--        <li><a href="chatbox.html">CHATROOM</a></li> -->
    <li><a onclick="windowalert('owo')" style="color: aliceblue">│ </a></li>
  </ul>
</nav>

<script>
  function windowconfirm() {
      var confirmation = confirm("this will redir to youtube.com");
      if (confirmation) {
          window.location.href = "https://youtube.com/@catto24";
      } else {
      }
  }
  </script>